:root {
    --color-gold: #B99362;
    /* font-family: 'Noto Sans Traditional Chinese'; */
    font-family: DFKai-sb;
}

body{
    background-color:antiquewhite;
}

table{
    /* 不加table-layout會使table width固定 */
    table-layout: fixed;
    /* width: 80%; */
    background-color: white;
    border: 1px solid black;
    border-collapse: collapse;
}

input{
    width: 90%;
    /* td的80% */
    /* width: 80%; */
    border: 1px solid white;
}

p{
    margin: auto;
}

.button{
    width: auto;
    background-color: gainsboro;
    border: 1px solid black;
    margin: 10px 0px 10px 0px ;
}

td,th{
    border: 1px solid black;
    padding: 0px;
    border-collapse: collapse;
    text-align: center;
}

